/* Hodmainpage.css */

/* Navigation Bar Styles */
.nav-bar {
  right: 160px;
  width: 100vw;
    height: 70px;
    background-color: #007bff;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    z-index: 1000;
  }
  
  .nav-bar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
  }
  
  .nav-btn {
    background-color: white;
    border: none;
    color: #007bff;
    padding: 0.5rem 1rem;
    margin: 0 1rem;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .nav-btn:hover {
    background-color: #e9ecef;
  }
  
  /* Year Selection Styles */
  .year-selection {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    padding: 20px;
  }
  
  .year-box {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .selected-year-box {
    background-color: #007bff;
    color: white;
    transform: scale(1.1);
  }
  
  /* Level Selection Styles */
  .level-selection {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .level-btn {
    margin: 0 15px;
    padding: 10px 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .selected-level-btn {
    background-color: #007bff;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  /* Semester Box Styles */
  .sem-box {
    width: 45%;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  /* Horizontal Rule Styles */
  .hr-style {
    border: none;
    height: 20px;
    width: 100%;
    border-bottom: 1px solid #504f4f;
    box-shadow: 0 10px 10px -10px #333;
    margin: 10px auto;
  }
  
  /* Canvas Styles */
  .canvas-container {
    left: 125px;
    position: relative;
    width: 50%;
    height: 350px;
    display: inline-block;
  }
  